@import url(./css/reset.css);

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background-image: url(../imagenes/background\(BODY\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

html {
    height: 100%;
}

.main-container-home {
    display: flex;
    align-items: center;
    margin-top: 5%;
}

/* HEADER DE LAS PAGINAS HOMES */
.head-h1 {
    font-size: 22px;
    font-style: italic;
}
.home-header {
    background-color: rgba(0, 0, 0, 0.416);
    backdrop-filter: blur(20px);
    /* border: none; */
}

.jes-nombre-home h2 {
    text-align: center; 
    font-size: 20px;
}

.header-home-container {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 100%;
}

.header-form figure {
    width: 60px;
    height: 50px;
}
.header-form img {
    width: 100%;
    object-fit: cover;
}

/* AQUI TERMINA LOS HEADER DE LOS HOMES */

/* DISEÑO DEL NAV */

.home-nav-container {
    background-color: rgba(0, 0, 0, 0.416);
    backdrop-filter: blur(10px);
    max-width: 16%;
    max-height: 50vh;
    border-radius: 0px 10px 10px 0px;
    /* position: relative; */
    /* top: 30%; */
    bottom: 50%;
    overflow: hidden;
    padding: 10px 0;
    padding-bottom: 100px;
    /* margin-top: 8%; */
}

.nav-li-lateral a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #FFC93D;
    background-color: rgba(0, 0, 0, 0.318);
    margin-bottom: 12px;
    height: 6vh;
    margin-top: 12px;
    border-radius: inherit;
}

.a-perfil::before {
    content: url(imagenes/iconos/usuario.svg);
}
.a-curso::before {
    content: url(imagenes/iconos/curso.svg);
}
.a-horario::before {
    content: url(imagenes/iconos/horario.svg);
}
.a-calificaciones::before {
    content: url(imagenes/iconos/libro.svg);
}
.a-perfil::before,.a-curso::before,.a-horario::before,.a-calificaciones::before {
    width: 8px;
    height: 8px;
    transform: translateY(-10px);
    margin:0 10px;
}

.nav-li-lateral a h3 {
    margin-left: 15px;
}

.nav-current {
    background-color: #ffc83d3e;
    border-radius: 10px 0px 0px 10px;
}

.nav-current a {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-current h3 {
    color: white;
}


.logo-jes {
    width: 50%;
    /* height: 50px; */
}

.logo-jes img {
    width: 100%
}

#li-admin {
    background-color: rgba(0, 255, 255, 0.24);
}
/* TERMINACIÓN DEL CODIGO DEL DISEÑO DEL NAV */

/* ------------------------------------------------ */
.subir-imagen-registro input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.form-container label {
    color: rgb(47, 172, 172);
    font-weight: 400;
    display: block;
    margin-bottom: 5px;
}

.subir-imagen-registro label {
    border: 1px solid white; 
    background-color: #000000d2;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    position: relative;
    right: 50px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: 100px;
    padding: 42px 0;
    border-radius: 100%;
}

.subir-imagen-registro label:hover {
    box-shadow: 2px 2px gray;
    transition: all .3s;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.706);
    margin: 0 auto;
    width: 80%;
    height: 480px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    border-radius: 10px;
    flex-flow: row wrap;
    margin-bottom: 50px;
}

.form-container legend {
    color:white; 
    font-weight: bold;
    font-style: italic;
}

.formulario-de-registro {
    width: 30%;
    margin: 10px 0;
    margin-left: 10px;
} 

.formulario-de-registro input, .formulario-de-registro select {
    border: none;
    border-radius: 2px;
    border-bottom: 1px solid #fff;
    background-color: #ffffff00;
    color: white;
    width: 70%;
    height: 30px;
    padding: 0 5px;
}

.formulario-de-registro select:focus{
    background-color: #0f1113;
    color: white;
}

.submit-registro {
    flex-basis: 40%;
    margin: 0 auto;
}

.submit-registro input {
    background-color: black;
    border: 1px solid rgb(47, 172, 172);
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px;
    width: 60%;
    height: 30px;
    margin-left: 60px;
}

/* Perfiles*/
.central {
    background-color: rgba(0, 0, 0, 0.547);
    backdrop-filter: blur(10px);
    color: #FFF;
    border-radius: 10px ;
    max-width: 70%;
    max-height: 480px;
    margin:  0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.izquierda-arriba {
    max-height: 500px ;
    margin-top: 40px;
    max-width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.izquierda-arriba h5 {
    position: relative;
    top: -10px;
    font-size: 20px;
    color: #FFC93D;
}
.izquierda-abajo {
    margin-top: 40px;
    width: 250px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.izquierda-abajo h6 {
    text-align: center;
    color: gray;
    position: relative;
    bottom: 20px;
}

.izquierda-abajo h4 {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 5px;
}

.izquierda-arriba img {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 100% ;
}

.derecha-arriba {
    margin-bottom: 40px;
    border-bottom: 2px solid #CCC;
    padding-bottom: 30px;
    /* text-align: center; */
}

.contenedor-central {
    margin-left: 100px;
    margin-top: 40px;
    width: 400px 
}

.derecha-abajo {
    text-align: center;
}

.datos {
    margin-bottom: 20px;
    display: flex;
    flex-flow: row;

}

.datos p {
    color: #FFF;
    margin-left: 70px;
    text-align: center;
}

.datos h4 {
    color: #CCC;
    width: 80px;
    text-align: justify;
}

.izquierda-arriba figure {
    border-bottom: 2px solid gray;
    padding-bottom: 26px;
}

.admin-color {
    color: aqua;
}

.izquierda-arriba .admin-color {
    color: white;
}

/* editar perfil admin */

#editor_admin {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 40px;
    top: 40px;
}

/* Perfiles terminados */

/* E-CALIFICACIONES */

.main-container-home{
    margin-top: 7%;
}
.tabla-calificacion th {
    height: 10px;
    background-color: #000;
    border-left: 1px solid rgba(255, 255, 255, 0.103);
}


.tabla-calificacion-centrar {
    width: 70%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 10px;
    height: 325px;
    padding-top: 10px;
}

.tabla-centrar {
    padding: 65px 0;
}

.tabla-calificacion {
    margin: 0 auto;
    color: #FFF;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.tabla-calificacion td, .tabla-calificacion th {
    min-width: 160px;
    padding: 20px 0;
    border-radius: inherit;
}

.tabla-calificacion td {
    background-color: rgba(0, 0, 0, 0.849);
    border-left: 1px solid rgba(255, 255, 255, 0.103);
    border-bottom: 1px solid rgba(255, 255, 255, 0.103);
    border-top: 1px solid rgba(255, 255, 255, 0.103);
}

.tabla-calificacion td:hover {
    background-color: #ffc83d60;
    backdrop-filter: blur(20px);
}

.botones-container {
    display: flex;
    height: 50px;
    width: 20%;
    justify-content: space-between;
    position: absolute;
    margin: 0 auto;
    margin-top: 20px;
    left: 47%;
    background-color: #00000068;
    backdrop-filter: blur(15px);
    border-radius: 5px;
    z-index: 0;
}

.botones-container * {
    padding: 10px 10px;
    border: none;
    background-color: #000000d2;
    backdrop-filter: blur(5px);
    color: #ffc83db6;
    font-size: 16px;
    font-weight: bolder;
}

.botones-container *:hover {
    color: #fff;
    background-color: #ffc83d60;
}

#scroll-izquierdo {
    border-radius: 5px 0 0 5px;
}

#scroll-derecho {
    border-radius: 0 5px 5px 0;
}
/* Tabla horario central */
.tabla-horario-centrar {
    height: auto;
}

/* Aqui termina las tablas horario y calificaciones */

/* Menu desplegable */

.classes-eme {
    background-color: rgba(0, 0, 0, 0.596);
    backdrop-filter: blur(30px);
    width: 300px;
    height: 200px;
    border-radius: 0 10px 0 10px;
    margin-right: 2px;
}

.classes-eme li {
    margin-bottom: 10px;
}

.a-eme {
    color: #ffc83da7;
    text-decoration: none;
}

.a-eme:hover {
    color: white;
    transition: 0.7s;
}

.classes-eme li::before {
    content: url(imagenes/iconos/ajuste.svg);
    margin-right: 5px;
}

.cerrar-eme:hover {
    color: red;
    transition: 0.7s;
}

/* Termina aqui el menu */

/* CONTENIDO DE FAURY */

/* a_horario-estudiante */

.selector {
    border-radius: 20px;
    margin: 0 auto;
    height: 50px;
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.selector-alt {
    background-color: rgba(0, 0, 0, 0.65);
    width: 300px;
    height: 60px;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#select {
    background-color: rgba(0, 0, 0, 0.65);
    color: #FFF;
    border: none;
    font-size: 18px;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.current {
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
}

.current span {
    color: #FFC93D;
}

.tabla-container {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.tabla-horario {
    /* border: 1px solid #FFF; */
    background-color: rgba(0, 0, 0, 0.65);
    margin: 0 auto;
    color: #FFF;
    height: 380px;
    width: 1000px;
    border-radius: 10px;
}

.tabla-horario-estudiante {
    margin-bottom: 40px;
}

.tabla-centrar {
    padding: 65px 0;
}

.tabla-horario th {
    background-color: #000;
}

.tabla-horario td {
    text-align: center;
}

.tabla-calificacion th,.tabla-calificacion td {
    min-width: 180px;
    height: 70px;
}
.tabla-calificacion td {
    background-color: #0000003b;
}
.tabla-calificacion .nota-final {
    border: none;
    background: linear-gradient(180deg, #0000003b 0%, #000 100%);
}

.tabla-calificacion-centrar {
    width: 80%; 
    margin-left: 120px; 
    overflow-x: scroll; 
    overflow-y: hidden;
    border-radius: 20px; 
    height: 420px;
}

.tabla-calificacion-centrar::-webkit-scrollbar {
width: 10px;
background-color: #000;

border: 1px solid rgba(255, 255, 255, 0.185);
border-radius: 10px;
}
.tabla-calificacion-centrar::-webkit-scrollbar-thumb {
    background-color: #ffc83d50;
    border-radius: 5px;
}

/* a_registro-estudiantes y profesores */

.tabla-registro {
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFF;
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 90px;
    overflow: hidden;
    border-radius: 15px;
    width: 900px;
    height: 300px;
    text-align: center;
}

.tabla-registro th {
    height: 20px;
}

.tabla-registro td {
    background-color: #000;
    font-size: 14px;
    height: 50px;
}

.tabla-registro td img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    object-fit: cover;
}

.tabla-registro td .editar {
    width: 25px;
    height: 25px;
}

/* p_calificacion-seccionA */

.select-calificacion {
    display: flex;
    justify-content: center;
}

#select-calificacion {
    background-color: rgba(0, 0, 0, 0.65);
    color: #FFF;
    border: none;
    font-size: 18px;
    width: 125px;
    height: 60px;
    border-radius: 20px;
    margin-left: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}